

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 1.4; 
    background-color: #000000;
    color: white;
    

}

.nav {
    position: fixed;
    display: block;
    bottom: 20px;
    right: 20px;

}

.nav2 {
    position: fixed;
    display: block;
    bottom: 20px;
    left: 20px;
    transform: scaleX(-1);
}


button {
    background-color: #000000;
    color: white;
    font-weight: bolder; 
    font-size: 1.2rem;
    border: solid white;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;

}

button:hover {
    border: double red;
    cursor: pointer;
    color: red;
}

.backbutton{
    position:absolute;
    right:20px;
    bottom:20px;
    place-self: end;
}


.name {
    text-align: center;
    writing-mode: vertical-rl;
    font-size: 100px;

}

.name:hover{
    color: blue;
}

.title-name {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 100px;
    height: 100%;
    writing-mode: vertical-rl;

}

.top{
    margin-top: 200px;
}

.middle{
    text-align: center;
}


@keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
}

.container {
    width: 100%;
    overflow-x: hidden;
}

.horizontal-scrolling-items {
    display: flex;
    font-size: 120px;
    width: 2600px;
    margin-top: -25px;
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.horizontal-scrolling-items__item {
    white-space: nowrap;
}

.horizontal-scrolling-items__item_small {
    white-space: nowrap;
    font-size: 40px;
    margin-top: 10px;

}





.scroll {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-animation-name: move;
    -webkit-animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@-webkit-keyframes move {
    0% {
      margin-top: -50%;
    }
    100% {
      margin-top: 120%;
    }
}

.opposite_scroll {
    -webkit-animation-name: opposite_move;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear;

}

@-webkit-keyframes opposite_move {
    0% {
      margin-top: 150%;
    }
    100% {
      margin-top: -50%;
    }
}

@keyframes spiral-1 {
    0% {
        transform: translate(-750px);
        opacity: 1;
    }

    100% {
        transform: translate(770px);
        opacity: 1;
    }
}

@keyframes spiral-2 {
    0% {
        transform: translate(-750px);
        opacity: 1;
    }

    100% {
        transform: translate(770px);
        opacity: 1;
    }
}

.vertical-left {
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.type-6-3 {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    color: white;
    margin-top: -150px;
    font-size: 75px;
    animation: spiral-3 8s infinite linear;
    z-index: 1;
    writing-mode: vertical-lr;
}

@keyframes spiral-3 {
    0% {
        transform: translateY(-900px);
        opacity: 1;
    }

    100% {
        transform: translateY(1000px);
        opacity: 1;
    }
}

.type-6-4 {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    color: white;
    margin-top: -150px;
    font-size: 75px;
    animation: spiral-4 8s infinite linear 4s;
    z-index: 1;
    opacity: 0;
    writing-mode: vertical-lr;
}

@keyframes spiral-4 {
    0% {
        transform: translateY(-900px);
        opacity: 1;
    }

    100% {
        transform: translateY(1000px);
        opacity: 1;
    }
}

.games_picture{
    width: 30%;
    border: solid white 2px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;


}

.games_picture:hover{
    border: red solid 2px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .name {
        margin-top: 70px;
        font-size: 50px;
        writing-mode: horizontal-tb;
    
    }

    .games_picture{
        width: 50%;
        margin-top: 40px;
    }


}
